.contacto{
    background-image: linear-gradient($gradiente-1, $gradiente-2);
    display: flex;
    justify-content: center;

    @media (max-width:800px){
        flex-direction: column;
        align-items: center;
    }

    & .contacto__texto{
        @include contenedor-flex (flex, column, relative, 80%, 70vh);
        justify-content: center;
        margin: 15px;

        & .contacto__texto__titulo{
            @include titulo-seccion;
        }

        & .contacto__texto__parrafo{
            padding: 15px;
            color: lighten($color-contenido,10);
            font-size: larger;
            font-weight: 700;
            text-align: center;

            @media (max-width:800px){
                padding: 0;
            }
        }

        & .contacto__texto__parrafo--resaltar{
            font-weight: 900;
            color: white;
        }
    }

    & .contacto__imagen{
        @include contenedor-flex (flex, column, relative, 80%, 70vh);
        justify-content: center;
        margin: 15px;

        & .contacto__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include elemento-absolute(10px, 0px, 0px, 0px, 0px, auto);
        }

        & .contacto__transparencia{
            display: flex;
            background-color: rgba(114, 114, 97, 0.74);
            @include elemento-absolute(10px, 0px, 0px, 0px, 0px, 2);
            justify-content: center;
        }
    }
}

.footer__csspropio--contacto{
    background-color: $gradiente-2 !important;
}