.ePe__contenedor{
    background-image: linear-gradient(to bottom, $gradiente-1, $gradiente-4);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .ePe__titulo{
        @include titulo-seccion;
        padding-top: 15px;
        padding-bottom: 15px
    }

    & .ePe__contenido{
        @include contenedor-flex (flex, row, auto, 100%, 100%);
        @include cont-flex-layout(center, center, left);

        & .ePe__texto{
            width: 60%;
            color: soften($color-contenido,5);
            font-size: larger;
            margin: 10px;

            & .fraseResaltada{
                @include resaltarFrase(none, none, italic);
                color: darken($color-span,30);
                font-weight: 800;
            }

            @media (max-width:1250px){
                width: 70%;
            }
            
        }

        & .ePe__foto{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            padding: 10px;

        }

        @media (max-width:1250px){
            height: auto;
            flex-direction: column;
        }
    }
}